{% extends 'registration/base.html' %} 
{% load static %} 
{% load humanize %}
{% load crispy_forms_tags %}
{% block header_css%} 
{% endblock %} 
{% block header_js %} 
{% endblock %} 
{% block page_wrapper_contents %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="card account-dialog">
                <div class="card-header bg-primary text-white">Email Sent!</div>
                <div class="card-body">
                    <h1>Password Reset Complete!</h1>
                    <p>Your new password has been set. You can log in now on the <a href="{% url 'root' %}">log in page</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

