{% extends 'registration/base.html' %} 
{% load static %} 
{% load humanize %}
{% load crispy_forms_tags %}
{% block header_css%} 
{% endblock %} 
{% block header_js %} 
{% endblock %} 
{% block page_wrapper_contents %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-4">
            <a href="/" class="spur-logo"><i class="fas fa-bolt"></i> <span>Maayon Loan Management</span></a>
            <div class="card account-dialog">
                <div class="card-header bg-primary text-white">Forgot your password?</div>
                <div class="card-body">
                    <form method="post" action="">
                        {% csrf_token %}

                        {{ form|crispy }}

                        <button class="btn btn-lg btn-primary btn-block text-uppercase font-weight-bold mb-2"
                                type="submit">Send me instructions!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

