{% extends 'user_dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block page_wrapper_contents %}
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <h5 class="align-self-start my-3">Transaction Details :</h5>
      </div>
    </div>
    <div class="row d-flex flex-column justify-content-center align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center align-items-center">
        <div class="card">
          <div class="card-body">
              <img class="img-fluid" src="{% static 'media/paypal_logo.png' %}">
              <div class="text-muted font-italic">{{ membership.name }}</div>
              <div class="text-muted font-italic">Amount: &#8369;{{ amount|intcomma }}</div>
            <div class="text-center mt-3">
              {{ paypal_form.render }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      var image = document.querySelectorAll("input")[12];
      image.alt = "Donate";
    });


  </script>
{% endblock %}