{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block header_css %} {% endblock %}
{% block header_js %} {% endblock %}

{% block page_wrapper_contents %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title float-left">{{ page_title }}</h4>
        </div>
        <div class="card-body">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard_home_view' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if messages %} {% for m in messages %} 
                <div class="alert alert-{{ m.tags }}">{{ m }}</div>
            {% endfor %} {% endif %} 
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objects %}
                        <tr>
                            <td>{{ obj }}</td>
                            <td>{{ obj.amount|floatformat:2|intcomma }}</td>
                            <td>{% if obj.is_active %} Active {% else %} Inactive {% endif %}</td>
                            <td class="td-actions text-right">
                                <a class="btn btn-info btn-sm btn-icon" href="{% url 'admin_dashboard_loans_detail' obj.pk %}">
                                    <i class="tim-icons icon-badge"></i>
                                </a>
                                <a class="btn btn-primary btn-sm btn-icon" href="{% url 'admin_dashboard_loans_update' obj.pk %}">
                                    <i class="tim-icons icon-pencil"></i>
                                </a>
                                {% if not obj.is_active %}
                                <a class="btn btn-success btn-sm btn-icon" href="{% url 'admin_dashboard_loans_approve' obj.pk %}">
                                    <i class="tim-icons icon-check-2"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}
