{% extends 'admin_dashboard/base.html' %}
{% load static %}
{% load humanize %}

{% block header_css %} {% endblock %}
{% block header_js %} {% endblock %}

{% block page_wrapper_contents %}
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="card-title">{{ page_title }}</h4>
        </div>
        <div class="card-body">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard_home_view' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard_accounts_list' %}">Accounts</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                </ol>
            </nav>
            {% if messages %} {% for m in messages %}
                <div class="alert alert-{{ m.tags }} ">{{ m }}</div>
            {% endfor %} {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">{{ obj.profile.account.email }}</h5>
                    <h2 class="card-title">{{ obj.profile.get_name}}</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ obj.profile.contact_number }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Contact Number</h6>
                    <h4 class="card-title">{{ obj.profile.get_civil_status_display }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Civil Status</h6>
                    <h4 class="card-title">{{ obj.profile.date_of_birth }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Date of Birth</h6>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">&nbsp;</h5>
                    <h2 class="card-title">Status</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        {% if obj.is_active %}
                            <strong class="text-primary">Active</strong>
                        {% else %}
                            <strong class="text-secondary">Inactive</strong>
                        {% endif %}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Status</h6>
                    <h4 class="card-title">{{ obj.created }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Date Created</h6>
                    <h4 class="card-title">{{ obj.updated }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Date Last Updated</h6>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">&nbsp;</h5>
                    <h2 class="card-title">Address Detail</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ obj.profile.address }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Address</h6>
                    <h4 class="card-title">{{ obj.profile.region }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Region</h6>
                    <h4 class="card-title">{{ obj.profile.province }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Province</h6>
                    <h4 class="card-title">{{ obj.profile.city }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">City</h6>
                </div>
            </div>
        </div>

        <div class="col-md-6 my-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">&nbsp;</h5>
                    <h2 class="card-title">Emergency Contact</h2>
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ obj.profile.get_spouse_full_name }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Name</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Loans</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Loan Type</th>
                        <th>Years</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if loans %}
                        {% for obj in loans %}
                            <tr class="clickable" data-toggle="collapse" id="row={{ obj.pk }}"
                                data-target="#hidden-row-{{ obj.pk }}">
                                <td>{{ obj.type }}</td>
                                <td>{{ obj.years }}</td>
                                <td>{{ obj.amount|floatformat:2|intcomma }}</td>
                                <td>{% if obj.is_active %} Active {% else %} Inactive {% endif %}</td>
                                <td class="td-actions text-right">
                                    <a class="btn btn-info btn-sm btn-icon"
                                    href="{% url 'admin_dashboard_loans_detail' obj.pk %}">
                                        <i class="tim-icons icon-badge"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm btn-icon"
                                    href="{% url 'admin_dashboard_payment_requests_create' obj.account.pk obj.pk %}" title="Pay"><i
                                            class="tim-icons icon-money-coins"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="collapse" id="hidden-row-{{ obj.pk }}">
                                <td colspan="4">
                                    {% if obj.payment_requests_loan.all %}
                                        <table class="table table-borderless table-dark">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Source</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                        {% for payment in obj.payment_requests_loan.all %}
                                            <tr>
                                            <td>{{ payment.created }}</td>
                                            <td>{{ payment.payment_source|title }}</td>
                                            <td>{{ payment.amount|floatformat:2 }}</td>
                                            <td>{{ payment.status|title }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>

                                    {% else %}
                                        No record found
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No record found</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Actions</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-info btn-sm btn-icon" href="{% url 'admin_dashboard_accounts_list' %}"
               title="View List">
                <i class="tim-icons icon-bullet-list-67"></i>
            </a>
            <a class="btn btn-primary btn-sm btn-icon" href="{% url 'admin_dashboard_loans_create' obj.pk %}"
               title="Add Loan">
                <i class="tim-icons icon-simple-add"></i>
            </a>
            <a class="btn btn-success btn-sm btn-icon" href="{% url 'admin_dashboard_profiles_update' obj.profile.pk %}"
               title="Update Profile">
                <i class="tim-icons icon-single-02"></i>
            </a>
            <a class="btn btn-danger btn-sm btn-icon" href="{% url 'admin_dashboard_accounts_delete' obj.pk %}"
               title="Delete Account">
                <i class="tim-icons icon-simple-remove"></i>
            </a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
